body{
  font-family: "jakarta shans", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
};
.container{
  flex:1;
}

/* Navbar */
.navbar{
  height:5 rem;
  background-color: white;
}
.fa-compass{
  color:#fe424d;
  font-size: 2rem;
}
.nav-link{
  color:#222222;
}

/* footer */
.f-info-links a:hover{
  text-decoration: underline;
  color: #222222;
}

.f-info-links, .f-info-socials , .f-info-brand{
  width:100%;
  vertical-align: middle;
  display:flex;
  align-items: center;
  justify-content: center;
}


.f-info-socials i{
font-size: 1.5rem;
margin-right: 1rem;
}

.f-info{
  text-align: center;
  display:flex;
  height: 8rem;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* card */
.listing-card{
  border:none !important;
  margin-bottom: 2rem;

}
.card-img-top{
  border-radius:1rem !important;
  width:100% !important;
  object-fit: cover !important;
}
.card-body{
  padding:0 !important;

}
.card-text p{
  font-weight: 400 !important;
}

.listing-link{
  text-decoration:none;
}
/* card effect */
.card-img-overlay{
  opacity:0;
}
.card-img-overlay:hover{
  opacity:0.2;
  background-color: white;
}

.add-btn{
  background-color: #fe424d !important;
  border:none !important;
}

/* edit page */
.edit-btn{
  background-color: #fe424d !important;
  border:none !important;
}

/* show page */
.show-img{
  height:30vh;
}

.btns{
  display:flex;
}
.show-card{
  padding-left: 0;
  padding-right: 0;
}